server:
  port: 8761

eureka:
  client:
    register-with-eureka: false
    fetch-registry: false
    serviceUrl:
      defaultZone: https://placeur-service-registry.herokuapp.com/eureka/
      non-secure-port: 80
      secure-port: 443